
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
ul{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

image {
	display: inline-block;
	vertical-align: middle;
	border: none;
}

/* 按钮边缝白边 */
button::after{
	display: none;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-clo-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.flex-clo-between {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}